@import 'mixins/mixins';
@import 'csscomponents/main';

.App {
    background-color: rgb(97, 97, 153);
    height: 100vh;

    p {
        margin: 0;
    }

    /* Every section */
    div {
        h1 {
            padding-top: 10px;
        }
    }

    .header {
        display: flex;
        justify-content: center;
        height: 10vh;

        h1 {
            color: white;
            padding: 0;
        }
    }

.home-container,
.about-container,
.contact-container,
.work-container {
    height: 60vh;

    h1 {
        margin: 0;
        text-align: center;
    }
}

/* Home section */
.home-container {

    .content {
        display: flex;
        /* Display the elements side by side */
        align-items: flex-start;
        /* Vertically center the content */
        margin: 10px 40px;
        /* Add margin for spacing */

        img {
            max-width: 100%;
            height: auto;
        }

        .AvatarYounes {
            transition: transform 0.5s ease;
            /* Add a smooth transition effect */
            margin: 0 10px;
        }

        .AvatarYounes:hover {
            transform: scale(1.1);
            /* Rotate 360 degrees on hover */
        }

        p {
            width: 80vw;
            max-width: 80vw;
            /* Set your desired maximum width */
            overflow: hidden;
            word-wrap: break-word;
            font-size: 1.5em;
            text-align: justify;
        }
    }

}

/* About section */
.about-container {
    h1 {
        opacity: 1;
        transition: opacity 1s ease;
    }
}

/* Footer section */
.footer {
    height: 20vh;
}
}